<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
    "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
    "https://checkstyle.org/dtds/configuration_1_3.dtd">
<module name="Checker">
  <property name="severity" value="warning"/>
  <property name="fileExtensions" value="java, properties, xml"/>
  <module name="SuppressWarningsFilter" />
  <module name="FileTabCharacter">
    <property name="eachLine" value="true"/>
  </module>
  <module name="TreeWalker">
    <module name="SuppressWarningsHolder" />
    <module name="AbbreviationAsWordInName">
      <property name="ignoreFinal" value="false"/>
      <property name="allowedAbbreviationLength" value="1"/>
    </module>
    <module name="AbstractClassName"/>
    <module name="AnnotationLocation">
      <property name="allowSamelineMultipleAnnotations" value="true"/>
    </module>
    <module name="AvoidEscapedUnicodeCharacters"/>
    <module name="AvoidNestedBlocks"/>
    <module name="AvoidStarImport"/>
    <module name="CatchParameterName"/>
    <module name="ClassTypeParameterName"/>
    <module name="CommentsIndentation"/>
    <module name="ConstantName">
      <property name="format" value="^[A-Z][A-Z0-9]*(_[A-Z0-9]+)*|log$"/>
    </module>
    <module name="CovariantEquals"/>
    <module name="DeclarationOrder"/>
    <module name="DefaultComesLast"/>
    <module name="EmptyBlock">
      <property name="option" value="TEXT"/>
      <property name="tokens" value="LITERAL_TRY, LITERAL_FINALLY, LITERAL_IF, LITERAL_ELSE, LITERAL_SWITCH"/>
    </module>
    <module name="EmptyCatchBlock">
      <property name="exceptionVariableName" value="expected"/>
    </module>
    <module name="EmptyLineSeparator">
      <property name="allowNoEmptyLineBetweenFields" value="true"/>
    </module>
    <module name="EmptyStatement"/>
    <module name="EqualsHashCode"/>
    <module name="FallThrough"/>
    <module name="GenericWhitespace"/>
    <module name="IllegalImport"/>
    <module name="IllegalInstantiation"/>
    <module name="IllegalThrows"/>
    <module name="IllegalType">
      <property name="tokens" value="METHOD_DEF, PARAMETER_DEF, VARIABLE_DEF"/>
    </module>
    <module name="Indentation">
      <property name="basicOffset" value="2"/>
      <property name="braceAdjustment" value="0"/>
      <property name="caseIndent" value="2"/>
      <property name="throwsIndent" value="4"/>
      <property name="lineWrappingIndentation" value="4"/>
      <property name="arrayInitIndent" value="2"/>
    </module>
    <module name="InnerAssignment"/>
    <module name="InterfaceIsType"/>
    <module name="InterfaceTypeParameterName"/>
    <module name="LambdaParameterName"/>
    <module name="LeftCurly"/>
    <module name="LocalFinalVariableName"/>
    <module name="LocalVariableName"/>
    <module name="MemberName"/>
    <module name="MethodName"/>
    <module name="MethodParamPad"/>
    <module name="MethodTypeParameterName"/>
    <module name="MissingDeprecated"/>
    <module name="MissingOverride"/>
    <module name="MissingSwitchDefault"/>
    <module name="ModifiedControlVariable"/>
    <module name="ModifierOrder"/>
    <module name="MutableException"/>
    <module name="NeedBraces"/>
    <module name="NoClone"/>
    <module name="NoFinalizer"/>
    <module name="NoWhitespaceAfter">
      <property name="tokens" value="BNOT, DEC, DOT, INC, LNOT, UNARY_MINUS, UNARY_PLUS"/>
    </module>
    <module name="NoWhitespaceBefore"/>
    <module name="OneStatementPerLine"/>
    <module name="OneTopLevelClass"/>
    <module name="OuterTypeFilename"/>
    <module name="PackageAnnotation"/>
    <module name="PackageName"/>
    <module name="ParameterAssignment"/>
    <module name="ParameterName"/>
    <module name="ParenPad"/>
    <module name="RedundantImport"/>
    <module name="RedundantModifier"/>
    <module name="RightCurly"/>
    <module name="SeparatorWrap">
      <property name="tokens" value="DOT"/>
      <property name="option" value="nl"/>
    </module>
    <module name="SeparatorWrap">
      <property name="tokens" value="COMMA"/>
      <property name="option" value="EOL"/>
    </module>
    <module name="SimplifyBooleanExpression"/>
    <module name="SimplifyBooleanReturn"/>
    <module name="SingleSpaceSeparator"/>
    <module name="StaticVariableName"/>
    <module name="StringLiteralEquality"/>
    <module name="ThrowsCount">
      <property name="max" value="4"/>
    </module>
    <module name="TodoComment"/>
    <module name="TrailingComment"/>
    <module name="TypecastParenPad"/>
    <module name="TypeName"/>
    <module name="UnusedImports"/>
    <module name="UpperEll"/>
    <module name="VisibilityModifier">
      <property name="protectedAllowed" value="true"/>
    </module>
    <module name="WhitespaceAfter"/>
    <module name="WhitespaceAround">
        <property name="allowEmptyConstructors" value="true"/>
        <property name="allowEmptyMethods" value="true"/>
        <property name="allowEmptyTypes" value="true"/>
        <property name="allowEmptyLoops" value="true"/>
        <property name="allowEmptyLambdas" value="true"/>
    </module>
  </module>
</module>